
@media (max-width: 500px) {
	#root {
		width: 100%;
	}
}

@media (min-width: 500px) {
	#root {
		width: 500px;
	}
}

.home-link {
	text-align: center;
}

.home-link > a {
	display: inline-block;
	padding: 20px;
	background: purple;
	color: white;
	text-decoration: none;
	cursor: hover;
	font-weight: bold;
	font-size: 1.6rem;
	border-radius: 5px;
}

