
body {
    background-color: #121212;
    color: #dfe6e9;
}

.App {
    text-align: center;
    padding: 45px;
}

input {
    background-color: #2b2b2b;
    padding: 10px;
    line-height: 18px;
    font-size: 18px;
    color: #dfe6e9;
    border: none;
    margin: 3px;
    border-radius: 5px;
    font-family: monospace;
    box-shadow: 0px 0px 5px black;
}

input.err {
    border: 1px solid red;
}

p.err-msg {
    color: red;
}

.fav-item {
    margin: 5px;
    padding: 10px;
    display: inline-block;
    background-color: #2b2b2b;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    box-sizing: border-box;
    border: 1px solid #2b2b2b;
}

.fav-item:hover {
    border-color: #5b5b5b;
    cursor: pointer;
    background-color: #3b3b3b;

}

.preview {
    width: 400px;
    display: inline-block;
    height: 30px;
    border-radius: 5px;
    margin: 4px;
}

.fav-item .preview {
    vertical-align: middle;
    width: 100px;
    height: 20px;
    display: inline-block;
}
