
#header {
}

.nav-link {
	--bg: #1b1b1b;
	--height: 40px;
	display: inline-block;
	width: 150px;
	height: var(--height);
	line-height: var(--height);
	text-align: center;
	color: white;
	background: #1b1b1b;
	text-decoration: none;
	border-bottom: 2px solid var(--bg);
	font-size: 1.1rem;
	font-weight: bold;
	box-sizing: border-box;
	width: 50%;
}

.nav-link.active {
	border-bottom: 2px solid violet;
}


@media (max-width: 500px) {
	#root {
		width: 100%;
	}
}

@media (min-width: 500px) {
	#root {
		width: 500px;
	}
}
