
.App {
    text-align: center;
}

#hsl-gradient {
    background: linear-gradient(
    90deg,
    hsl(0, 100%, 50%),
    hsl(45, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(135, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(225, 100%, 50%),
    hsl(270, 100%, 50%),
    hsl(315, 100%, 50%),
    hsl(360, 100%, 50%)
    );
}


.secret-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.color-bar {
    display: inline-block;
    width: 500px;
    height: 40px;
    border-radius: 8px;
    margin: 10px;
    border: 2px solid black;
}

.color-bar-select {
    height: 40px;
    width: 3px;
    background: black;
    position: relative;
}

#preview {
    display: inline-block;
    width: 300px;
    height: 250px;
}