body {
  background-color: #2b2b2b;
  color: #fefefe;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: #101010;
  color: white;
  padding: 10px;
  border: 2px solid #3b3b3b;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
}

button:hover {
  background: #202020;
  cursor: pointer;
}

button:active {
  border-color: #aaa
}
