[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rpi-ws281x = "*"
adafruit-circuitpython-neopixel = "*"
flask = "*"
opencv-python = "*"
requests = "*"
jupyter = "*"
pillow = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
