#site-header {
	display: flex;
	vertical-align: middle;
}

.off-button {
	font-size: 1.1rem;
	margin-right: 3px;
	width: 40px;
	height: 40px;
	border: 2px solid #1b1b1b;
	box-sizing: border-box;
	
	padding: 0;
	display: inline-block;
	flex-shrink: 0;
}

.off-button img {
	width: 20px;
	height: 20px;
}

#site-header nav {
	display: flex;
	flex: 1;
}

a.nav-link {
	--bg: #1b1b1b;
	--height: 40px;
	flex: 1;
	width: 130px;
	height: var(--height);
	line-height: var(--height);
	text-align: center;
	color: white;
	background: #1b1b1b;
	text-decoration: none;
	border-bottom: 2px solid var(--bg);
	font-size: 1.1rem;
	font-weight: bold;
	box-sizing: border-box;
	margin-right: 5px;
	border-radius: 5px;
	box-sizing: border-box;
}

.nav-link.active {
	border-bottom: 2px solid violet;
}
