
.preset-button {
	border-radius: 5px;
	border: 2px solid #3b3b3b;
	background: black; 
	color: white;
	min-width: 100px;
	margin: 2px;
}

.pattern-sequence {
  position: relative;
  padding: 0.6em 1.2em;
  border: none;
  background: #111;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  z-index: 0;
}

/* the rainbow border */
.pattern-sequence::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* border thickness */
	background: var(--background-pattern);
  border-radius: inherit;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

