
.edit-overlay {
	position: fixed;
	padding: 20px;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.9);
}

.edit-overlay .exit-button {
	margin-bottom: 10px;
}

.color-button {
	display: inline-block;
	padding: 19px;
	width: 300px;
	height: 50px;
	border-radius: 10px;
	line-height: 50px;
	box-shadow: none;
	font-size: 1.3rem;
	font-weight: bold;
}

.control-button {
	border: none;
	margin: 3px;
	box-shadow:
    0 1px 2px 1px rgba(0,0,0,0.5);
}

.colorbutton-row {
	margin: 5px;
}
